*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fas{
    color: white;
    font-size: 25px;
}
body{
    background-color: silver;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.glavni{
    width: 50vw;
    background-color: white;
    height: auto;
    margin: 50px 0px 50px 0px;
}
.header{
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 35%;

}
.naslov{
    color: white;
    font-family: sans-serif;
}
.ime{
    padding: 3%;
    display: flex;
    flex-direction: column;
    width: 50%;    
}
.pol{
    padding: 3%;
    display: flex;
    flex-direction: column;
    width: 50%;    
}
.pol_inputi{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.main{
    padding: 35px 35px 0px 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
input{
    height: 40px;
}
.stan_interfon{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 3%;
}
.stan{
    width: 30%;
    margin-right: 10%;
}
.interfon{
    width: 60%;
}
.stan input{
    width: 90%;
}
.interfon input{
    width: 100%;
}
.nisam_robot{
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 3%;
    background-color: rgb(228, 225, 225);
}
.cek{
    height: 50px;
    width: 30px;
    margin: 0;
    margin-right: 20px;
}
.cek_lista{
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}
.check_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3%;
    height: 25px;
}
.check_item input{
    margin-right: 5px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dugme{
    width: 40%;
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 35px;

}