*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#slika{
    height: 80px;
    margin-left: 20px;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.footer{
    height: 30px;
}
.content{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forma{
    border-radius: 10px;
    width: 25%;
    height: 420px;
    box-shadow: 2px 5px 5px 5px grey;
    padding: 20px;
}
input{
    height: 40px;
    border: none;
    margin-left: 10px;
}
.email{
    width: 100%;
    overflow: hidden;
    height: 50px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 20px;
}
.password{
    width: 100%;
    overflow: hidden;
    height: 50px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 20px;
}
.signin{
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signinapple{
    border: 1px solid black;
    width: 100%;
    height: 50px;
    color: black;
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt{
    margin-top: 30px;
    margin-bottom: 20px;
}
h4{
    color: blue;
    font-family: sans-serif;
    margin-top: 10px;
}
h3{
    font-family: sans-serif;
}
.fab{
    font-size: 20px;
    margin-right: 10px;
}
ul li{
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}
.or{
    text-align: center;
    margin-top: 5px;
}
@media only screen and (max-width:450px){
    .forma{
        width: 100%;
        
    }
    .glavni{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul{
        width: 100%;
    }

}