*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.glavni{
    display: grid;
    grid-template-areas:'h h h h'
                        'n c c s'
                        'f f f f' ;
}
.header{
    grid-area: h;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}
.footer{
    grid-area: f;
    height: 30px;
    border: 1px solid black;
    text-align: center;

}
.navigation{
    text-align: center;
    grid-area: n;
    height: 565px;
    border: 1px solid black;

}
.content{
    grid-area: c;
    height: 565px;
    border: 1px solid black;
    text-align: center;
}
.sidebar{
    grid-area: s;
    height: 565px;
    border: 1px solid black;
    text-align: center;
}
@media only screen and (max-width:450px){
    .glavni{
        grid-template-areas: 'h'
                            'n'
                            'c'
                            's'
                            'f';
    }
}
