*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.glavni{
    display: grid;
    grid-template-areas: 
    'header'
    'hnm'
    'vnm';


}
.item1{
    grid-area: header;
    background-color: silver;
    width: 728px;
    height: 90px;
}
.item2{
    grid-area: hnm;
    background-color: green;
    width: 728px;
    height: 30px;
}
.item3{
    grid-area: vnm;
    background-color: silver;
    width: 100px;
}